<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Ipswich retail</title>
      <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
<nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="contacts.html">Contact</a></li>

            </ul>
            <h1 class="logo">Ipswich retail</h1>
        </div>
    </nav>

</body>
</html>